# ignore pycache directory
__pycache__/

# ignore following files
desktop.ini

# ignore log directory
logs/

# ignore model directory
model/

# ignore image directory
imgs/

*.pkl

dataset/
data/
meetings/
base_code/
